FF_ADDON_ID=element-inspector@moyarich.local
VITE_INSPECTOR_DEBUG=false

# Chrome Web Store API v2
CHROME_PUBLISHER_ID=
CHROME_EXTENSION_ID=
CHROME_CLIENT_ID=
CHROME_CLIENT_SECRET=
CHROME_REFRESH_TOKEN=

# Mozilla Add-ons API
WEB_EXT_API_KEY=
WEB_EXT_API_SECRET=
FIREFOX_CHANNEL=listed
